      <div class="row">

        <div>

          <div class="logo"></div>
          <div class="btn_info"></div>
          <div class="home_bkg"></div>
          <div class="home_bkg_up"></div>
          <div class="home_bkg_down"></div>
          <div class="btn_bases_legales"></div>
          <div class="btn_premios"></div>
          <div class="btn_comprobar"></div>
          <div class="btn_sin"></div>
          <div class="label321"></div>
          <div class="form"></div>
          <div class="mm"></div>
          <div class="txt_gana"></div>

        </div>

      </div>